@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700');



/* 01 GENERIC STYLES - ALL PAGES */
* {
    margin:         0;
    padding:        0;
    box-sizing:     border-box;
    font-family:    "Arial", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin:     0;
    padding:    0;
}

body {
    height:     100vh;
    width:      100vw;
}

main {
    padding:    25px 15px;
}



/* 02 UTILITY CLASSES & DEVIATIONS FROM GENERIC STYLES - ALL PAGES */
.background_dblue {
    background-color: #0b183d;
}

.background_lblue {
    background-color: #1a3664;
}

.background_yellow {
    background-color: #ffd966;
}

.background_black_transp {
    background-color: rgba(1, 1, 1, 0.6);
}

.textcolor_white {
    color: white;
}

.textcolor_yellow {
    color: #ffd966;
}

.bordercolor_yellow {
    border-color: #ffd966;
}

.font_ubuntu {
    font-family: "Ubuntu", sans-serif;
}

/* small paddings - normal sized buttons, centralized, radius as listitems */
.button_submit {
    padding: 5px 40px;
    border-radius: 3px;
}

/* large paddings, centralized, radius as listitems*/
.button_action {

}

/* for the transactions/accounts list - more radius/margin*/
.listitem_style {

}

/* for the divs in the two action pages - less radius/vertical margin but much dynamic&more horizontal margin*/
.card_style {

}

.input_fontsize {
    font-size: 20px;
}

/* 03 SPECIFIC ELEMENTS - ALL PAGES*/ 
#nav_bar {
    display: flex;    
}

#nav_bar > * {
    height: 50px;
    align-content: center;
    overflow-y: hidden;
}

#nav_bar_left {
    display: flex;
    margin-left: 10px;
    margin-right: auto;
    align-items: center;
}

#nav_bar_middle {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#nav_bar_right {
    display: flex;
    margin-right: 10px;
    margin-left: auto;
    align-items: center;
    border-radius: 3px;
}

#nav_bar_right_text {
    color: lightgray;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 13px;

}


/* START COPY FROM https://www.w3schools.com (see README), I adjusted some styles only*/
/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  .dropbtn {
    justify-self: right;
    height: 50px;
  }
  
  /* Add a background color to navbar links on hover */
  #nav_bar_right:hover {
    background-color: rgba(0,0,0,0.45);
  }
  .nav_bar a:hover, .dropbtn:hover, .dropdown:hover {
    background-color: rgba(0,0,0,0.65); 
  }



  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position:absolute;
    right:10px;
    background-color: rgba(0,0,0,0.45);
    min-width: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.25);
    z-index: 1;
  
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: #ffd966;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
    
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgba(0,0,0,0.85);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* END COPY FROM https://www.w3schools.com/ ------------------------ */




/* 04 SPECIFIC ELEMENTS - index.html */
#login_body {
    /*flex because of vertical alignment*/
    display: flex;
    /*align-items is vertically (or align-self in the direct child), justify-content horizontally (justify-self didnt work..)*/
    align-items: center;
    justify-content: center;
}

#login_main {
    /*actual start*/
   display: block;
   justify-content: center;
   padding: 5px;
}

#login_main > * {
    display: block;
    justify-content: center;
    margin: 0 auto;

}

#login_form > * {
    display: block;
    margin:  0 auto;
    margin-top: 40px;
    border: none;
    border-bottom: white 2px solid;
}

#login_button {
    border-bottom: none;
    font-size: 16px; 
}

/* consider browser compatibility..*/
#login_form > *::placeholder {
    color: #ffffff;
  }

#login_form > *::-ms-input-placeholder {
    color: #ffffff;
}

#login_form > *:-ms-input-placeholder {
    color: #ffffff;
}

#login_form > *:-moz-placeholder {
    color: #ffffff;
}

/* 05 SPECIFIC ELEMENTS - dashboard.hmtl */
#db_body {
    /*flex because of vertical alignment*/
    display: block;
    justify-content: center;

}

