@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');



/* 01 GENERIC STYLES - ALL PAGES */
* {
    margin:         0;
    padding:        0;
    box-sizing:     border-box;
    font-family:    "Arial", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin:     0;
    padding:    0;
}

html, body {
    display:block;
    height:     100vh;
    width:      100vw;
    overscroll-behavior: none;
}

main {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 35px;
    display: block;
    padding: 15px 18px;

}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 35px;
}



/* 02 UTILITY CLASSES & DEVIATIONS FROM GENERIC STYLES - ALL PAGES */
.hide {
    display: none;
}

.background_dblue {
    background-color: #0b183d;
}

.background_lblue {
    background-color: #1a3664;
}

.background_yellow {
    background-color: #ffd966;
}

.background_black_transp {
    background-color: rgba(1, 1, 1, 0.6);
}

.textcolor_white {
    color: white;
}

.textcolor_yellow {
    color: #ffd966;
}

.textcolor_dblue {
    color:#0b183d;
}

.bordercolor_yellow {
    border-color: #ffd966;
}

.font_cinzel {
    font-family: "Cinzel", sans-serif;
}

.no_wrap {
    white-space: nowrap;
    overflow: hidden;
}

/* small paddings - normal sized buttons, centralized, radius as listitems */
.button_submit {
    padding: 5px 40px;
    border-radius: 3px;
}

.hide_when_mobile {
    display: none;
}

/* for the transactions/accounts list - more radius/margin*/
.listrow {
    display: flex;
    align-items: center;
    height: 70px;
    width: 95%;
    min-width: 270px;
    margin: 15px auto;
    border-radius: 15px;
}

.acc_listrow {
    display: flex;
    align-items: center;
    height: 50px;
    width: 95%;
    min-width: 300px;
    margin: 10px auto;
    border-radius: 15px;
}

.send_listrow {
    display: flex;
    align-items: center;
    height: 70px;
    width: 85%;
    min-width: 270px;
    max-width: 600px;
    margin: 5px auto;
    border-radius: 3px;
}

.listrow:hover, .listrow:active,
.acc_listrow:hover, .acc_listrow:active {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.45);
    transform: translate(0, 2px);
    cursor:pointer;
}

.listitem_left {
    width: 50px;
    min-width: 50px;
    text-align: center;
    margin-left: 3px;
    font-size: 15px;
    font-weight: bold;
}

.acc_listitem_left {
    width: 40px;
    min-width: 40px;
    text-align: left;
    margin-left: 10px;
    font-size: 10px;
    font-weight: bold;
}

.listitem_right {
    margin-left: auto;
    text-align: right;
    padding-right: 13px;
    font-size: 12px;
    font-weight: bold;
}

.acc_listitem_right {
    margin-left: auto;
    text-align: right;
    padding-right: 20px;
    font-size: 13px;
    font-weight: bold;
}

.listitem_middle {
    width: 60%;
}

.acc_listitem_middle {
    width: 60%;
}

.listitem_middle_top {
    width: 100%;
    margin-bottom: 3px;
    color: #ffd966;
    font-size: 13.5px;
    text-align: left;
}

.listitem_middle_bottom {
    width: 100%;
    font-size: 10px;
    margin-bottom: 3px;
    padding-left: 3px;
}

.acc_listitem_middle_top {
    width: 100%;
    margin-bottom: 3px;
    color: #ffd966;
    font-size: 15px;
    text-align: left;
}

.acc_listitem_middle_bottom {
    width: 100%;
    font-size: 10px;
    margin-bottom: 3px;
    padding-left: 3px;
}

.balance {
    min-width: 60px;
}

/* for the divs in the two action pages - less radius/vertical margin but much dynamic&more horizontal margin*/
.card_style {

}

.input_fontsize {
    font-size: 20px;
}

.section_header {
    height: 50px;
}

.section_header_text {
    font-weight: normal;
}

.section_header_line {
    width: 100%;
    height: 0.5px;
}

/* COPY & ADJUST FROM www.w3schools.com - scrollbar styles - the standard scroll bar doesnt fit to the app design.. */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.5); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }
/* COPY END of SCROLLBAR STYLE  ------*/


/* 03 SPECIFIC ELEMENTS - ALL PAGES*/ 
#nav_bar {
    display: flex;    
}

#nav_bar > * {
    height: 40px;
    align-content: center;
    overflow-y: hidden;
}

#nav_bar_left {
    display: flex;
    margin-left: 15px;
    margin-right: 10px;
    align-items: center;
}

#nav_bar_left_btn {
    width:  45px;
    height: 30px;
    border-radius: 999px;
    border: none;
    align-content: center;
}

#nav_bar_left_btn:hover {
    background-color: black;
    color: #ffd966;
}

#nav_bar_middle {
    text-align: center;
    min-width: 110px;
    
}

#nav_bar_right {
    display: flex;
    margin-right: 9px;
    margin-left: auto;
    align-items: center;
    text-align: right;
    border-radius: 3px;
}

#nav_bar_right_text {
    color: lightgray;
    padding-left: 5px;
    padding-right: 1px;
    font-size: 13px;

}




/* START COPY FROM https://www.w3schools.com (see README), I adjusted some styles only*/
/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  .dropbtn {
    justify-self: right;
    height: 40px;
  }
  
  /* Add a background color to navbar links on hover */
  #nav_bar_right:hover {
    background-color: rgba(0,0,0,0.45);
  }
  .nav_bar a:hover, .dropbtn:hover, .dropdown:hover {
    background-color: rgba(0,0,0,0.65); 
    color: #ffd966;
  }



  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position:absolute;
    right:10px;
    background-color: rgba(0,0,0,0.45);
    min-width: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.25);
    z-index: 1;
  
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: #ffd966;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
    
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgba(0,0,0,0.85);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* END COPY FROM https://www.w3schools.com/ ------------------------ */

#timer_msgbox_container {
    display:none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(5px);
}

#timer_msgbox {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    height: 190px;
    width: 70%;
    background-color: black;
    padding: 20px;
    border-radius: 20px;

}

#timer_msgbox > * {
    display: block;
    text-align: center;
    margin: 0 auto 28px auto;
}

#timer_msgbox_text {
    font-size: 25px;
    font-weight: bold;
}

#timer_msgbox_btn {
    padding: 4px;
    font-weight: bold;
}

#timer_msgbox_btn:active {
    background-color: #ffd966;
    color:#0b183d;
}



/* 04 SPECIFIC ELEMENTS - index.html */
#info {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;
    top:10px;
    border-radius: 999px;
    color: rgba(100, 100, 100, 0.8);
    align-content: center;
    text-align: center;
}

#info:hover {
    background-color: #ffd966;
    color:#0b183d;

    #tooltip {
        display: block;
        position:absolute;
        width: 210px;
        top: 35px;
        transform: translate(-100%,0);
        text-align: left;
        font-size: 14px;
        padding: 15px;
        z-index: 99;
        background-color: black;
    };
}

#tooltip {
    display: none;
}


#login_body {
    /*flex because of vertical alignment*/
    display: flex;
    /*align-items is vertically (or align-self in the direct child), justify-content horizontally (justify-self didnt work..)*/
    align-items: center;
    justify-content: center;
}

#login_main {
    /*actual start*/
   display: block;
   justify-content: center;
   padding: 5px;
}

#login_main > * {
    display: block;
    justify-content: center;
    margin: 0 auto;

}

#login_form > * {
    display: block;
    margin:  0 auto;
    margin-top: 40px;
    border: none;
    border-bottom: white 2px solid;
}

#login_button {
    border-bottom: none;
    font-size: 16px; 
}

/* consider browser compatibility..*/
#login_form > *::placeholder {
    color: #ffffff;
  }

#login_form > *::-ms-input-placeholder {
    color: #ffffff;
}

#login_form > *:-ms-input-placeholder {
    color: #ffffff;
}

#login_form > *:-moz-placeholder {
    color: #ffffff;
}

/* 05 SPECIFIC ELEMENTS - dashboard.hmtl */
#db_body {
    /*flex because of vertical alignment*/
    display: block;
    justify-content: center;

}

#db_table_container {
    margin: 0 auto;
    min-width: 250px;
    max-height: 80%;
    margin-top: 25px;
    overflow-y: scroll;
    overscroll-behavior: contain;
}

#db_table_row_dummy {
    display: none;
}

#db_subtotal_container {
    padding-right: 11%;
    padding-top: 20px;
    float: right;
    text-align: right;
}

#db_subtotal_text {
    
    font-size: 13px;
}

#db_subtotal_amount {
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
}

#footer_timer {
    height: 30px;
    float: right;
    padding: 0 13px;
    align-content: center;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 13px;
}

/* 06 SPECIFIC ELEMENTS - account.html */
#acc_header_container{
    display:flex;
}

#acc_header_right {
    display: flex;
    margin-right: 10px;
    margin-left: auto;
    align-items: center;
    border-radius: 3px;
}

#acc_header_text {
    display: flex;
    align-self: center;
}

#acc_header_right_text {
    color: lightgray;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 13px;
}

/* SAME COPY AS ABOVE (see README), just for the specific menu on account.html*/
/* Dropdown button */
.acc_dropdown .acc_dropbtn {
    display: block;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  .acc_dropbtn {
    justify-self: right;
    height: 40px;
  }

  /* tip: hover alone works well on a phone - the menu wont open on accidant -> solution, when display large use click instead of hover */
  .acc_dropbtn:hover, .acc_dropdown:hover {
    background-color: rgba(0,0,0,0.65); 
  }

  /* Dropdown content (hidden by default) */
  .acc_dropdown-content {
    display: none;
    position:absolute;
    right:10px;
    background-color: rgba(0,0,0,1);
    min-width: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.25);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .acc_dropdown-content a {
    float: none;
    color: #ffd966;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
    
  }
  
  /* Add a grey background color to dropdown links on hover */
  .acc_dropdown-content a:hover {
    background-color: #ffd966;
    color: #0b183d;
  }

/* END COPY FROM https://www.w3schools.com/ ------------------------ */

#acc_content_container {
    display: flex;
    position: absolute;
    left:0;
    top:70px;
    right:0;
    bottom:0;

}

#acc_left_container {
    width: 100%;
    height: 100%;
    margin:0;
}

#acc_right_container {
    display: none;
    width: 0%;
    height: 100%;
    margin: 0;
}

#acc_right_container > * {
    display: block;
    width: 85%;
    height: 15%;
    font-weight: bold;
    border-radius: 5px;
    margin: 40px auto;
}

#acc_right_container > *:hover {
    background-color: rgba(0,0,0,1);
}

#acc_send {
    border-color: #ffd966;
    
}

#acc_table_container {
    margin: 0 auto;
    min-width: 250px;
    max-height: 90%;
    margin-top: 15px;
    overflow-y: scroll;
    overscroll-behavior: contain;
}

#acc_table_row_dummy {
    display: none;
}

#acc_subtotal_container {
    display: block;
    text-align: right;
    margin: 15px 10%;
    font-size: 20px;
}

#acc_subtotal_text, 
#acc_subtotal_cur {
    font-size: 12px;
}

#acc_subtotal_amount {
    font-size: 18px;
    font-weight: bold;
    margin-left: 25px;
}


/* 07 SPECIFIC ELEMENTS - send.html */
#send_form {
      margin-top: 15px;
      font-size: 12px;
}

#send_form > * {
    padding: 15px;
}

#send_sender_label {
    width: 60px;
}

#send_sender_image_container {
    display: flex;
    width: 100%;
}

#send_sender_image {
    width: 40px;
    align-content: center;
    margin-left: 20px;
    margin-right: 15px;
    padding: 0;
}

#send_sender_image > * {
    margin-left: 10px;
}

#send_sender_image_top {
    font-size: 14px;
}

#send_sender_image_bottom {
    font-size: 10px;
    margin-top: 5px;
    color: lightgray;
}

#send_receiver_input_container, #send_receiver2_input_container, #send_ref_input_container  {
    width: 100%;
    margin-left: 20px;
}

#send_amount_input_container {
    display: flex;
    margin-left: 20px;
    align-items: center;
    width: 100%;
}

#send_amount_input {
    width: 66%;
    text-align: right;
}

#send_amount_input_eur {
    width: 34%;
    padding-left: 15px;
}

#send_receiver_label, #send_receiver2_label, #send_amount_label, #send_ref_label {
    min-width: 55px;
}

#send_receiver_dropdown, #send_receiver2_input, #send_amount_input, #send_ref_input {
    font-size: 14px;
    padding: 5px;
    width: 100%;
}

#send_receiver_dropdown, .option {
    overflow-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
#send_ref_input {
    height: 50px;
    resize: none;
}

#send_submit {
    padding: 5px 12px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: 25px;
}

#send_confirm_container {
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color: transparent;
    backdrop-filter: blur(3px);
}

#send_confirm {
    position:absolute;
    background-color: black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 210px;
    height: 150px;
    text-align: center;
    align-content: center;
    border-radius: 5px;
}

#send_confirm > * {
    margin-bottom: 20px;
}

#send_confirm_btn {
    padding: 7px 25px;
}




/* MEDIA QUERIES ipad mini/ small tablets ----------------------------------------------- */
@media screen and (min-width: 768px){
    .hide_when_mobile {
        display: unset;
    }

    #nav_bar_middle {
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }
    
    .listitem_left {
        width: 70px;
        min-width: 70px;
        text-align: center;
        margin-left: 3px;
        font-size: 17px;
        font-weight: bold;
    }

    .listitem_middle_top {
        width: 100%;
        margin-bottom: 3px;
        color: #ffd966;
        font-size: 18px;
        text-align: left;
        
    }
    
    .listitem_middle_bottom {
        width: 100%;
        font-size: 11px;
        margin-bottom: 3px;
        padding-left: 3px;
    }
    
    .listitem_right {
        margin-left: auto;
        text-align: right;
        padding-right: 13px;
        font-size: 18px;
        font-weight: bold;
    }

    #acc_left_container {
        width: 67%;
        height: 100%;
        margin:0;
    }
    
    #acc_right_container {
        display:block;
        width: 33%;
        height: 100%;
        margin: 0;
    }

    .acc_dropdown .acc_dropbtn {
        display: none;
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
      }

} 